<!DOCTYPE html>
<html>
  <head>
    <title>Gistapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <form class="navbar-form navbar-left navbar-fixed-top navbar-inverse" role="search" style="margin-top:0; height: 50px">
      <div class="container">
        <%= link_to 'GitHubGist', root_path, class: 'navbar-brand' %>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search..." style="margin-top: 8.25px">
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'New gist', new_gist_path %></li>
        </ul>
      </div>
    </form>
    <div class="container">
    <div style="height: 100px"></div>
      <%= yield %>
    </div>
    <div style="height: 100px"></div>
  </body>
</html>
