<!DOCTYPE html>
<html>
  <head>
    <title>Fake Gist app</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# Bootstrap navbar %>
    <form class="navbar-form navbar-left navbar-fixed-top navbar-inverse" role="search" style="margin-top:0; height: 50px">
      <div class="container">
        <%= link_to 'GitHubGist', root_path, class: 'navbar-brand' %>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search..." style="margin-top: 8.25px">
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'New gist', new_gist_path %></li>
        </ul>
      </div>
    </form>
    <div style="height: 100px"></div>
    <div class="container">
      <ul class="nav navbar-nav">
        <li><%= link_to "All Gists", root_path %>
        <% Category.all.each do |category| %>
          <li><%= link_to category.name, gists_path(category: category.name) %></li>
        <% end %>
      </ul>
      <div style="height: 50px"></div>
        <%= yield %>
    </div>
    <div style="height: 100px"></div>
  </body>
</html>
